@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
}
*:focus,
*:active {
  outline: none;
}
*::-moz-focus-outer {
  border: 0;
}

input:focus {
  outline: none;
}

body {
  font-family: "MuseoModerno", cursive;
  color: white;

  background: fixed no-repeat center;
  background-size: cover;
  backdrop-filter: brightness(0.7);
  animation: background-change 300s 0s infinite;
}

section.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.audio-section {
  min-height: 85vh;
  height: 100%;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}
