@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans
      font-light
      text-white
      bg-[#0485b4];
  }
}

@layer components {
  .slider-input {
    @apply appearance-none
      w-full h-4 sm:h-1
      group-hover:cursor-pointer
      bg-white/30
      rounded-xl;
  }

  .slider-input::-webkit-slider-thumb {
    @apply opacity-0 sm:opacity-100
      appearance-none
      h-4 md:h-2 md:group-hover:h-3 w-4 md:w-2 md:group-hover:w-3
      bg-white
      border-none rounded-full
      active:ring-4 ring-white/10
      transition-all duration-100;
  }

  .slider-input::-moz-range-thumb {
    @apply opacity-0 sm:opacity-100
      appearance-none
      h-4 md:h-2 md:group-hover:h-3 w-4 md:w-2 md:group-hover:w-3
      bg-white
      border-none rounded-full
      active:ring-4 ring-white/10
      transition-all duration-100;
  }
}
