@media (max-width: 1100px) {
  #configLabel {
    transition: none;
  }
  #configButton:checked ~ #configLabel {
    transform: rotateY(-180deg);
    left: 0;
    color: rgba(255, 255, 255, 1);
  }

  div#configurations div.fieldset div.fieldset-content-title {
    backdrop-filter: blur(10px);
  }

  div#configurations div.fieldset div.fieldset-content-input {
    backdrop-filter: blur(5px);
  }
}

@media (max-width: 750px) {
  div#configurations {
    position: relative;
    right: 0;

    max-width: 250px;

    margin: auto;
  }

  div#configurations div.fieldset div.fieldset-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div#configurations div.fieldset div.fieldset-content-input {
    min-height: 30px;

    border-radius: 0 0 10px 10px;

    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
  }

  div#configurations button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;

    background: rgba(255, 200, 200, 0.5);
    color: rgba(0, 0, 0, 0.753);
  }

  div#configurations button:active {
    background-color: rgba(255, 200, 200, 0.8);
    backdrop-filter: blur(10px);
  }

  #configButton {
    display: none;
  }
  #configLabel {
    display: none;
  }
}
