header.header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 15vh;

  backdrop-filter: blur(2px);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.089);
}

header.header h1 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
