div.audios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
}

div.sound-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
}

div.sound-button {
  width: 100px;
  height: 100px;

  opacity: 0.5;

  transition: 0.1s;
}
div.sound-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
div.sound-button.selected {
  opacity: 1;
}

@media (max-width: 400px) {
  div.audios {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 300px) {
  div.audios {
    grid-template-columns: 1fr;
  }
}
