div.audios {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

@media (max-width: 650px) {
  div.audios {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 550px) {
  div.audios {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 400px) {
  div.audios {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 300px) {
  div.audios {
    grid-template-columns: 1fr;
  }
}
